<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>pjdm2024-2025_6_sevlet_db</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MusicianServlet</display-name>
    <servlet-name>MusicianServlet</servlet-name>
    <servlet-class>it.uniroma2.pjdm.servletdb.servlet.MusicianServlet</servlet-class>
    <init-param>
      <param-name>ip</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>3306</param-value>
    </init-param>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>musicisti</param-value>
    </init-param>
    <init-param>
      <param-name>userName</param-name>
      <param-value>danilo</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>danilo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicianServlet</servlet-name>
    <url-pattern>/MusicianServlet</url-pattern>
  </servlet-mapping>
</web-app>